.App {
    text-align: center;
}

.wrapper {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

.test {
    border-radius: 25px;
    grid-column: 2;
    margin-top: 30%;
    width: 100%;
    background: #ffffff;
    padding-bottom: 35px;
    font-family: "SF Pro Display",
    "SF Pro Icons",
    "Helvetica Neue",
    "Helvetica",
    "Arial",
    sans-serif;
    transition: ease-in;
}

body {
    background-image: url("images/mountains.jpg");
    background-repeat: no-repeat;
}